{{ define "stylesheets" }}
<link rel="stylesheet" href="/css/about.css" /> 
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash" style="flex-basis: 30em;">
    
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
	    <!-- {{ .Params.subheading }}
    </h2>-->
    <!-- Replace MEEEEE -->
  
    I am a 
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "Developer", "Product Manager", "Tech Enthusiast" ]'></span>
  </h2>
    {{ partial "social-icons.html" .}}
    </div>
</div>

{{ end }}
